*:focus {
    border: none;
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

#container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-flow: row;
}

#screen {
    flex: 1;
    display: flex;
    flex-flow: column;
}

#add {
    flex: 1;
    max-width: 0px;
    color: white;
    font-weight: bold;
    font-size: 100px;
    display:flex;
    flex-flow: column;
    justify-content: center;
    cursor: pointer;
}

#add > span {
    flex: 1;
    text-align: center;
    max-height: 100px;
}

.show {
    max-width: 100px !important;
}

.row {
    flex: 1;
    display: flex;
}

.embed {
    flex: 1;
    height: 100%;
}



#streamPopup {
    position: absolute;
    width: calc(100vw - 150px);
    height: calc(100vh - 150px);
    top: 50%;
    left: -100%;
    transform: translate(-50%,-50%);
    background-color: #332732;
    display: flex;
    flex-flow: row wrap;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    border-radius: 30px;
    outline: 12px solid #de721e;
    transition: all 0.2s;
}


.ontop {
    left: 50% !important;
}

select {
    min-height: 60px;
    max-height: 60px;
    min-width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align-last: center;
}

option {
    font-size: 50px;
}

.selectRow {
    padding: 10px;
    max-height: 300px;
    flex:1;
    display: flex;
    flex-flow: row;
}

#sports {
    width: 100%;
}

.sportType {
    font-size: 60px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bold;
    margin: 50px 10px 30px 10px;
}

.streamList {
    height: auto;
    max-width: 100%;
    overflow-x: hidden;
    flex-flow: row;
    display: flex;
    overflow-y: auto;
}

.match {
    margin: 15px;
    flex: 1;
    min-height: 300px;
    max-height: 300px;
    max-width: 300px;
    min-width: 300px;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 30px;
    background-color: #de721e;
    box-shadow: 10px 10px rgba(255, 94, 0, 0.616);
    transition: all 0.2s;
    cursor: pointer;
}

.match > img {
    max-width: 100%;
    min-width: 100%;
    border-radius: 30px 30px 0 0;
}

.match > .title {
    flex: 1;
    text-align: center;
    text-wrap: wrap;
    color: black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    /* text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; */
}

.vs {
    color: white;
    /* text-decoration-line: underline; */
}



.focused{
    box-shadow: none;
    transition: all 0.2s;
    box-sizing: border-box;
    border: 5px solid white;
}

.match.focused {
    box-shadow: none;
    margin-top: 30px;
    margin-left: 30px;
    transition: all 0.2s;
    border: 5px solid white;
    box-sizing: border-box;
}


#sport.focused {
    border: 5px solid #de721e;
}